*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

/* ==  Container == */
.container {
  margin: 36px auto 0;
  max-width: 962px; 
  border: 1px solid green;
}

.flex-container {
  display: flex;
}

.flex-container > logo, user-name, contact-info {
  text-align: center;
}

/* ==  Logo == */
.logo {
  width: 29%;  
  padding: 40px 0 40px 0;
  border: 1px solid blue;
  background-color: #e3e3e3;
  text-align: center;
}

.user-pic {
  border-radius: 200%;
}

/* ==  user-name == */
.user-name {
  width: 39%;
  padding-top: 228px;
}

.name-text, .position {
  margin-left: 30px;
  text-align: left;
}

.name-text {
  font-weight: bold;
  font-size: 20px;
}


/* ==  contact-info == */
.contact-info {
  width: 30%
}
